header {
  background-color: rgba(191, 197, 194, 0.9); /* Adjust the alpha value (0.8) to change the opacity */
  height: 10vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  top: 0;
  z-index: 99999;
}
header img {
  width: 140px
}
header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
  font-size: larger;
}
.nav li{
  margin-top: -90px;
}
.btn1{
  margin-top: -98px;
  border-radius: 5px;
  padding: 17px 30px;
  background: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
header a:hover {
  color: #27ae60;

}
header span {
  width: auto;
  padding: 0px 6px;
  background: #27ae60;
  border-radius: 50px;
  color: #ffffff;
  margin-right: 4px;
  font-weight: 400;
}
header h4 {
  font-weight: 500;
  margin-right: 20px;
}
header .toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header img {
    margin-top: 30px;
  }
  header .button {
    display: none;
  }
  header .nav .flex {
    display: none;
  }
  header .toggle {
    display: block;
    margin-top: 20px;
  }
  header .small {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #27ae60;
    padding: 20px;
  }
  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
  }
}
.logo-text {
  position: absolute;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-left: -30px;
  margin-top: 110px;
}
